--- 
import { getEntry, render } from 'astro:content';
import ModalPage from '@layouts/ModalPage.astro';
import EulaForm from '@svelte/eula/EulaForm.svelte';

const eulaDoc = await getEntry('docs', '03-eula');
if (!eulaDoc) {
  throw new Error('EULA document not found');
}
const { Content } = await render(eulaDoc);
---

<ModalPage title="End-User License Agreement">
  <div class="p-4">
    <EulaForm client:only="svelte">
      <Content />
    </EulaForm>
  </div>
</ModalPage>
