# build output
dist/
.vercel/
.netlify/

# Backups
firebase-backup/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

**/*.afdesign~lock~


# environment variables
.env
.env.*
server_principal.json
.temp

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Playwright
auth.json
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

playwright/.auth
