body {
  --cn-story-clock-border-color: var(--color-border);
  --cn-story-clock-tick-color: var(--color-text);
  --cn-story-clock-slice-color: var(--color-surface-1);
}
main > footer {
  text-shadow: 1px 1px 12px var(--color-background);
}
main > footer a {
  color: var(--cn-color-link);
}
main > footer h4 {
  margin-bottom: var(--cn-grid);
}

@media (max-width: 620px) {
  nav#rail.sm-hidden {
    display: none;
  }
}
