---
import { version } from 'package.json';
import { t } from 'src/utils/i18n';
import ActiveUsersWidget from './ActiveUsersWidget.astro';
---

<footer>
  <div class="content-columns">
    <section class="column-s flex flex-col items-center">
      <cn-icon noun="fox" xlarge style="color:var(--chroma-surface-70);"/>
      <p class="text-center mb-0">
      {t('app:shortname')}<br>
      <a href="/docs/80-release-notes">{version}</a></p>
      <p class="caption text-center mt-0">
        <a href="/rss/threads.xml">RSS</a>
      </p>
      <div class="text-caption">
        <slot name="app-footer-credits" />
      </div>
  </section>
  <section class="column-s">
    <h4>{t('app:footer.links.title')}</h4>
    <ul>
      <li>
        <a href="https://myrrys.com">Myrrys</a>
      </li>
      <li>
        <a href="https://discord.gg/c5bAGzNKZz">Roolipelifoorumi -discord</a>
      </li>
      <li>
        <a href="https://discord.gg/2MHBhzw">Roolipelit -discord</a>
      </li>
      <li>
        <a href="https://roolipelitiedotus.fi/">Roolipelitiedotus</a>
      </li>
      <li>
        <a href="https://lollo.ilmatar.net/index.php?title=Etusivu">L&L OGL Wiki</a>
      </li>
    </ul>
  </section>

  <section class="column-s">
    <ActiveUsersWidget /> 
  </section>
  </div>
</footer>