---
export interface Props {
  tags: string[];
}
const { tags } = Astro.props;
---
{tags && tags.length > 0 &&
  <div class="flex flex-wrap items-start mt-2">
    {tags.map((tag) => (
      <a href={`/tags/${tag}`} class="cn-chip" style="flex:none">
        {tag}
      </a>
    ))}
  </div>
}
