---
import '../../../overrides.css'; // Import your custom CSS
import '@11thdeg/cyan-css';

// No view transitions from the editors
// import { ClientRouter } from 'astro:transitions';

import { t } from 'src/utils/i18n';
import ServiceWorker from './ServiceWorker.astro';

type Props = {
  title?: string;
  description?: string;
};

const { title, description } = Astro.props;
const metaDescription = description || t('app:meta.editor.description');
const metaTitle = title || t('app:meta..editor.title');

// intentionally break the URL to avoid indexing the editors
const canonicalURL = Astro.url.origin;
---
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{metaTitle}</title>

  <link rel="manifest" href="/manifest.webmanifest" />
  <link rel="canonical" href={canonicalURL} />
  <meta name="theme-color" content="#00304f" />
  <meta name="color-scheme" content="dark light">

  <!-- Site info -->    
  <meta name="description" content={metaDescription} />
  <meta name="generator" content={Astro.generator} />
  <meta name="robots" content="noindex, nofollow" />  

  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

  <ServiceWorker />

  <script>
    import "@11thdeg/cyan-lit"
  </script>
</head>

<style>
  /* The editor needs to be full height */
  html, body {
    height: 100%;
    overflow: hidden;
  }
</style>